<h3>Dropdown</h3>
<select
  [formControl]="selectedOption"
  (change)="onOptionChange()"
  class="select-option"
>
  <option *ngFor="let opt of options" [ngValue]="opt">
    {{ opt.label }}
  </option>
</select>
<p>{{ selectedOption.value.label }}</p>

<h3>Buttons</h3>
<button (click)="setName()" class="set-button">Set</button>
<p class="person-name">{{ personName }}</p>
<button (click)="sendData()" class="send-button">Send</button>
<br />
<button (click)="editPerson(1)" class="edit-button">Edit</button>

<h3>Input Fields</h3>
<p>Name: <input [formControl]="name" id="nameId" /></p>
<p>Age: <input [formControl]="age" id="ageId" /></p>

<div id="disName">{{ name.value }}</div>
<div id="disAge">{{ age.value }}</div>
